In [1]:
import sqlite3

import polars as pl
import polars.selectors as cs

## Setup

I've decided that for this year I want to commit to using [Polars](https://pola.rs/) in a Jupyter notebook for all the puzzles.
So here I load the SQLite data into a Polars DataFrame that I'll try to reuse across all puzzles.

I cheat a _little_ bit here by starting with a query that I incrementally worked toward [in 2022](https://dev.to/ajkerrigan/series/21177).

In [2]:
con = sqlite3.connect("5784/noahs.sqlite")
df = pl.read_database(
    connection=con,
    query="""
        select
          c.*,
          o.orderid,
          o.ordered,
          o.shipped,
          o.total,
          i.qty,
          i.unit_price,
          p.sku,
          p.desc,
          p.wholesale_cost
        from
          customers c
          join orders o on c.customerid = o.customerid
          join orders_items i on o.orderid = i.orderid
          join products p on i.sku = p.sku
  """,
)

## Puzzle Solutions

### Day 1

**Useful Facts:**

- Target customer is a private investigator
- Translating that customer's last name to numbers using a phone pad as a key produces the customer's phone number

#### Polars Helper

It would be nice to have a convenient Polars-native way to translate a customer's name to its phone number equivalent.
This seems like a good case for [extending the Polars expression namespace](https://pola-rs.github.io/polars/py-polars/html/reference/api.html#extending-the-api).

In [3]:
@pl.api.register_expr_namespace("phonepad")
class Phonepad:
    def __init__(self, expr: pl.Expr):
        self._expr = expr

    def to_numbers(self):
        return (
            self._expr.str.to_lowercase()
            .str.replace_all(r"[^a-z]", "")
            .str.replace_all(r"[abc]", "2")
            .str.replace_all(r"[def]", "3")
            .str.replace_all(r"[ghi]", "4")
            .str.replace_all(r"[jkl]", "5")
            .str.replace_all(r"[mno]", "6")
            .str.replace_all(r"[pqrs]", "7")
            .str.replace_all(r"[tuv]", "8")
            .str.replace_all(r"[wxyz]", "9")
        )

#### Solution

With a convenience expression namespace/method, we can check to see if a customer's phonified name contains the digits of their phone number.

In [4]:
%time
day1 = df.filter(
    pl.col("name")
    .phonepad.to_numbers()
    .str.contains(pl.col("phone").str.replace_all(r"[^\d]+", ""))
)

%time
day1.select("phone").unique().item()

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 5.01 µs
CPU times: user 2 µs, sys: 1e+03 ns, total: 3 µs
Wall time: 4.29 µs

'826-636-2286'

#### Lazy Alternative

It seems useful to practice using the Polars [LazyFrame API](https://pola-rs.github.io/polars/user-guide/lazy/using/). There's no
`scan_database()` method that I can see, and since we're reusing a single DataFrame across multiple days it seems sensible
to have the whole thing in memory anyway.

_But_... we can call `.lazy()` on it and see what optimizations we get under the covers. In this case the time difference
seems negligible, but it's interesting in any case. Note that the unoptimized [query plan](https://pola-rs.github.io/polars/user-guide/lazy/query-plan/)
has two steps:

1. Select all columns from every row
2. Apply a filter

Where the optimized plan merges those operations into a single step, filtering as part of the selection. Neat!

_I still suspect there's a smarter way to do that janky multi-replacement though..._

In [5]:
day1_lazy = df.lazy().filter(
    pl.col("name")
    .phonepad.to_numbers()
    .str.contains(pl.col("phone").str.replace_all(r"[^\d]+", ""))
)

print("Unoptimized query plan & graph...")
print("\n".join(day1_lazy.explain(optimized=False).split(";")))
day1_lazy.show_graph(optimized=False)

print("\nOptimized query plan...")
print("\n".join(day1_lazy.explain(optimized=True).split(";")))
day1_lazy.show_graph(optimized=True)

day1_lazy.collect().select("phone").unique().item()

Unoptimized query plan & graph...
FILTER col("name").str.lowercase().str.replace([Utf8([^a-z]), Utf8()]).str.replace([Utf8([abc]), Utf8(2)]).str.replace([Utf8([def]), Utf8(3)]).str.replace([Utf8([ghi]), Utf8(4)]).str.replace([Utf8([jkl]), Utf8(5)]).str.replace([Utf8([mno]), Utf8(6)]).str.replace([Utf8([pqrs]), Utf8(7)]).str.replace([Utf8([tuv]), Utf8(8)]).str.replace([Utf8([wxyz]), Utf8(9)]).str.contains([col("phone").str.replace([Utf8([^\d]+), Utf8()])]) FROM
DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "None"

Optimized query plan...
DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "col(\"name\").str.lowercase().str.replace([Utf8([^a-z]), Utf8()]).str.replace([Utf8([abc]), Utf8(2)]).str.replace([Utf8([def]), Utf8(3)]).str.replace([Utf8([ghi]), Utf8(4)]).str.replace([Utf8([jkl]), Utf8(5)]).str.replace([Utf8([mno]), Utf8(6)]).str.replace([Utf8([pqrs]), Utf8(7)]).str.replace([Utf8([tuv]), Utf8(8)]).str.replace([Utf8([wxyz]), Utf8(9)]).str.contains([col(\"phone\").str.replace([Utf8([^\\d]+), Utf8()])])"

'826-636-2286'

### Day 2

**Useful Facts:**

- Target customer had initials JP
- Bought coffee and bagels in 2017

This is doable by chaining together filters against a customer's name, order history and order date.

In [6]:
day2 = df.filter(
    (pl.col("name").str.contains(r"J.*P"))
    & (pl.col("desc").str.contains(r"(?i)(coffee|bagel)"))
    & (pl.col("ordered").str.strptime(pl.Datetime).dt.year() == 2017)
)

day2.select("phone").unique().item()

'332-274-4185'

### Day 3

**Useful Facts:**

- Target customer lives in last customer's neighborhood
  - Maybe city, maybe zip code
  - Try city/state/zip match first
- Cancer
  - June 21 - July 22
  - Julian values 173 - 203
- Year of the rabbit
  - Birth year mod 12 = 7

In [7]:
neighborhood = day2.select("citystatezip").unique().item()

day3 = df.filter(
    (
        pl.col("birthdate")
        .str.strptime(pl.Datetime)
        .dt.ordinal_day()
        .is_between(173, 203)
    )
    & (pl.col("birthdate").str.strptime(pl.Datetime).dt.year() % 12 == 7)
    & (pl.col("citystatezip") == neighborhood)
)

day3.select(["name", "citystatezip", "phone"]).unique()

shape: (1, 3)
┌───────────────┬───────────────────┬──────────────┐
│ name          ┆ citystatezip      ┆ phone        │
│ ---           ┆ ---               ┆ ---          │
│ str           ┆ str               ┆ str          │
╞═══════════════╪═══════════════════╪══════════════╡
│ Robert Morton ┆ Jamaica, NY 11435 ┆ 917-288-9635 │
└───────────────┴───────────────────┴──────────────┘

### Day 4

**Useful Facts:**

- Target customer buys pastries early - before 5am
  - Years ago
- Is a woman
- Came by bike - maybe assume close by, same city?

In [8]:
day4 = (
    df.filter(
        (pl.col("sku").str.starts_with("BKY"))
        & (pl.col("ordered").str.strptime(pl.Datetime).dt.hour() == 4)
    )
    .group_by(["name", "phone"])
    .agg(pl.col("orderid").count().alias("ordercount"))
    .top_k(5, by="ordercount")
)

day4.select(["name", "phone", "ordercount"])

shape: (5, 3)
┌────────────────────┬──────────────┬────────────┐
│ name               ┆ phone        ┆ ordercount │
│ ---                ┆ ---          ┆ ---        │
│ str                ┆ str          ┆ u32        │
╞════════════════════╪══════════════╪════════════╡
│ Renee Harmon       ┆ 607-231-3605 ┆ 5          │
│ James Eaton        ┆ 838-958-4372 ┆ 3          │
│ Christopher Garcia ┆ 716-263-0817 ┆ 2          │
│ Lindsey Mays       ┆ 631-280-4337 ┆ 2          │
│ Matthew Wilson     ┆ 516-699-9976 ┆ 1          │
└────────────────────┴──────────────┴────────────┘

#### Lazy Alternative

There's a bit more going on here than on day 1, so I'm curious what a LazyFrame's query plan optimizations would look like here.

Again it's worth pointing out that lazy evaluation doesn't seem particularly useful for these challenges, given the size and reusability
of the dataset. It's still neat to see the sorts of plan optimizations Polars does under the covers though.

In [9]:
day4_lazy = (
    df.lazy()
    .filter(
        (pl.col("sku").str.starts_with("BKY"))
        & (pl.col("ordered").str.strptime(pl.Datetime).dt.hour() == 4)
    )
    .group_by(["name", "phone"])
    .agg(pl.col("orderid").count().alias("ordercount"))
    .top_k(5, by="ordercount")
)

print("Unoptimized query plan & graph...")
print("\n".join(day4_lazy.explain(optimized=False).split(";")))
day4_lazy.show_graph(optimized=False)

print("Optimized query plan & graph...")
print("\n".join(day4_lazy.explain(optimized=True).split(";")))
day4_lazy.show_graph(optimized=True)

day4_lazy.collect().select(["name", "phone", "ordercount"])

Unoptimized query plan & graph...
SLICE[offset: 0, len: 5]
  SORT BY [col("ordercount")]
    AGGREGATE
    	[col("orderid").count().alias("ordercount")] BY [col("name"), col("phone")] FROM
      FILTER [(col("sku").str.starts_with([Utf8(BKY)])) & ([(col("ordered").str.strptime([Utf8(raise)]).dt.hour()) == (4)])] FROM

      DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "None"

Optimized query plan & graph...
SORT BY [col("ordercount")]
  AGGREGATE
  	[col("orderid").count().alias("ordercount")] BY [col("name"), col("phone")] FROM
    DF ["customerid", "name", "address", "citystatezip"]
 PROJECT 5/18 COLUMNS
 SELECTION: "[(col(\"sku\").str.starts_with([Utf8(BKY)])) & ([(col(\"ordered\").str.strptime([Utf8(raise)]).dt.hour()) == (4)])]"

shape: (5, 3)
┌────────────────────┬──────────────┬────────────┐
│ name               ┆ phone        ┆ ordercount │
│ ---                ┆ ---          ┆ ---        │
│ str                ┆ str          ┆ u32        │
╞════════════════════╪══════════════╪════════════╡
│ Renee Harmon       ┆ 607-231-3605 ┆ 5          │
│ James Eaton        ┆ 838-958-4372 ┆ 3          │
│ Christopher Garcia ┆ 716-263-0817 ┆ 2          │
│ Lindsey Mays       ┆ 631-280-4337 ┆ 2          │
│ Brian Lane         ┆ 838-992-7087 ┆ 1          │
└────────────────────┴──────────────┴────────────┘

### Day 5

- Target customer is from Staten Island
- Has lots of (old) cats

In [10]:
day5 = (
    df.filter(
        (pl.col("citystatezip").str.starts_with("Staten Island"))
        & (pl.col("desc").str.contains(r"(?i)senior.*cat"))
    )
    .group_by(["name", "phone"])
    .agg(pl.col("orderid").count().alias("ordercount"))
)

day5.top_k(5, by="ordercount")

shape: (5, 3)
┌──────────────────┬──────────────┬────────────┐
│ name             ┆ phone        ┆ ordercount │
│ ---              ┆ ---          ┆ ---        │
│ str              ┆ str          ┆ u32        │
╞══════════════════╪══════════════╪════════════╡
│ Nicole Wilson    ┆ 631-507-6048 ┆ 21         │
│ Brian Hudson III ┆ 516-570-4577 ┆ 6          │
│ Dawn Shelton     ┆ 680-260-3507 ┆ 6          │
│ Kayla Solis      ┆ 929-877-1866 ┆ 6          │
│ Sean Wade Jr.    ┆ 347-916-9069 ┆ 5          │
└──────────────────┴──────────────┴────────────┘

### Day 6

- Target customer is a bargain hunter
- Noah's loses money on this customer's purchases

In [11]:
day6 = (
    df.with_columns(
        profit=pl.col("qty") * (pl.col("unit_price") - pl.col("wholesale_cost"))
    )
    .group_by(["customerid", "name", "phone"])
    .agg(pl.col("profit").sum())
)

day6.bottom_k(5, by="profit")

shape: (5, 4)
┌────────────┬──────────────────┬──────────────┬────────┐
│ customerid ┆ name             ┆ phone        ┆ profit │
│ ---        ┆ ---              ┆ ---          ┆ ---    │
│ i64        ┆ str              ┆ str          ┆ f64    │
╞════════════╪══════════════════╪══════════════╪════════╡
│ 4167       ┆ Sherri Long      ┆ 585-838-9161 ┆ -92.03 │
│ 8286       ┆ Lisa Archer      ┆ 989-571-6656 ┆ -2.28  │
│ 7676       ┆ Chelsea Ferguson ┆ 716-633-6717 ┆ -0.17  │
│ 6309       ┆ David Pratt      ┆ 718-810-9458 ┆ -0.04  │
│ 7330       ┆ Joshua Waters    ┆ 940-741-5320 ┆ -0.02  │
└────────────┴──────────────────┴──────────────┴────────┘

### Day 7

- Target customer bought an item on the same day as the day 6 customer
- Probably close to the same time, differing only by color
  - Just slightly before the day 6 customer
 
**Note:** There are a few commented out sections in here, showing extra bits of logic
that ended up being unnecessary. Maybe they'll be necessary with a different data set...

In [12]:
# Let's start by taking a subset of columns from the main DataFrame, and including
# a couple fields that will help narrow down the potential overlap between today's
# target customer and the one from day 6
day7 = df.select(
    [
        "customerid",
        "name",
        "phone",
        "sku",
        "ordered",
        pl.col("desc").str.to_lowercase().str.replace_all(r"[^a-z ]", ""),
    ]
).with_columns(
    sku_prefix=pl.col("sku").str.extract(r"([A-Z]+)"),
    ordered_date=pl.col("ordered").str.strptime(pl.Datetime).dt.date(),
)

# It'll help to have all of our day 6 customer's orders in a separate DataFrame
day6_customer_orders = day7.filter(
    pl.col("customerid") == day6.bottom_k(1, by="profit").select("customerid").item()
)

# If two orders differ only by color, let's pull in a mega list of color names
# that we can cross-reference:
#
# color_names = pl.read_csv(
#     "https://raw.githubusercontent.com/meodai/color-names/master/src/colornames.csv"
# ).select(pl.col("name").str.to_lowercase().alias("color"))

# Now we'll get a DataFrame where...
#
# - The SKU prefix of an order matches one of the day6 customer's orders
# - The orders were from the same date
#
# And we'll add a few helper columns...
#
# - A list of words that appear in one order description but not the other
# - A word count of the difference between the two order descriptions
# - The time gap between the two orders
#
# Then we'll use the helper columns to whittle down the possibilities further...
#
# - Only show rows if there was a 1-2 word difference between the orders
# - Only include rows if the difference words appear in our color list
day7 = (
    day7.join(
        day6_customer_orders, on=["sku_prefix", "ordered_date"], suffix="_day6_customer"
    )
    .with_columns(
        desc_delta=pl.col("desc")
        .str.split(by=" ")
        .list.set_symmetric_difference(pl.col("desc_day6_customer").str.split(by=" ")),
        order_gap=(
            pl.col("ordered").str.strptime(pl.Datetime).dt.datetime()
            - pl.col("ordered_day6_customer").str.strptime(pl.Datetime).dt.datetime()
        ),
    )
    .with_columns(
        desc_delta_len=pl.col("desc_delta").list.len(),
    )
    # .filter(pl.col("desc_delta_len").is_between(1, 2))
    # If color names show up in two order descriptions that are otherwise equal,
    # the symmetric difference of those descriptions should be the 2 color names
    .filter(pl.col("desc_delta_len") == 2)
    .explode(pl.col("desc_delta"))
    # This join appears unnecessary, and the list of color names includes nonsense
    # like tuna anyway!
    # .join(color_names, left_on="desc_delta", right_on="color")
)

# And then since we know the day6 customer bought a similar item just before
# today's customer, highlight the last order to come before the day6 customer's
# order
print(
    day7.select(
        [
            "name",
            "phone",
            "desc",
            "desc_day6_customer",
            "desc_delta",
            "ordered",
            "ordered_day6_customer",
            "order_gap",
        ]
    )
    .filter(pl.col("order_gap") < 0)
    .top_k(5, by="order_gap")
    .head()
)

shape: (5, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ name       ┆ phone      ┆ desc       ┆ desc_day6 ┆ desc_delt ┆ ordered   ┆ ordered_d ┆ order_gap │
│ ---        ┆ ---        ┆ ---        ┆ _customer ┆ a         ┆ ---       ┆ ay6_custo ┆ ---       │
│ str        ┆ str        ┆ str        ┆ ---       ┆ ---       ┆ str       ┆ mer       ┆ duration[ │
│            ┆            ┆            ┆ str       ┆ str       ┆           ┆ ---       ┆ μs]       │
│            ┆            ┆            ┆           ┆           ┆           ┆ str       ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Carlos     ┆ 838-335-71 ┆ noahs      ┆ noahs     ┆ azure     ┆ 2018-12-3 ┆ 2018-12-3 ┆ -19s      │
│ Myers      ┆ 57         ┆ poster     ┆ poster    ┆           ┆ 1         ┆ 1         ┆           │
│            ┆            ┆ orange     ┆ azure     ┆           ┆ 12:26:39  ┆ 12:26:58  ┆           │
│ Carlos     ┆ 838-335-71 ┆ noahs      ┆ noahs     ┆ orange    ┆ 2018-12-3 ┆ 2018-12-3 ┆ -19s      │
│ Myers      ┆ 57         ┆ poster     ┆ poster    ┆           ┆ 1         ┆ 1         ┆           │
│            ┆            ┆ orange     ┆ azure     ┆           ┆ 12:26:39  ┆ 12:26:58  ┆           │
│ Karen      ┆ 838-578-72 ┆ dry adult  ┆ wet adult ┆ wet       ┆ 2017-11-0 ┆ 2017-11-0 ┆ -1m -32s  │
│ Contreras  ┆ 66         ┆ cat food   ┆ cat food  ┆           ┆ 8         ┆ 8         ┆           │
│            ┆            ┆ shrimp     ┆ shrimp    ┆           ┆ 13:29:05  ┆ 13:30:37  ┆           │
│            ┆            ┆ shrim…     ┆ shrim…    ┆           ┆           ┆           ┆           │
│ Karen      ┆ 838-578-72 ┆ dry adult  ┆ wet adult ┆ dry       ┆ 2017-11-0 ┆ 2017-11-0 ┆ -1m -32s  │
│ Contreras  ┆ 66         ┆ cat food   ┆ cat food  ┆           ┆ 8         ┆ 8         ┆           │
│            ┆            ┆ shrimp     ┆ shrimp    ┆           ┆ 13:29:05  ┆ 13:30:37  ┆           │
│            ┆            ┆ shrim…     ┆ shrim…    ┆           ┆           ┆           ┆           │
│ Marie Hull ┆ 585-491-32 ┆ vegan      ┆ vegan     ┆ duck      ┆ 2020-04-0 ┆ 2020-04-0 ┆ -5m -48s  │
│            ┆ 19         ┆ senior cat ┆ senior    ┆           ┆ 4         ┆ 4         ┆           │
│            ┆            ┆ food duck  ┆ cat food  ┆           ┆ 15:10:25  ┆ 15:16:13  ┆           │
│            ┆            ┆ duck       ┆ tuna      ┆           ┆           ┆           ┆           │
│            ┆            ┆            ┆ tuna      ┆           ┆           ┆           ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

### Day 8

- Target customer collects junk
- Has a full set of Noah's collectibles

In [13]:
print(
    df.select("sku", "desc")
    .filter(pl.col("desc").str.contains(r"(?i)(noah|collectible)"))
    .unique()
    .sort(by="sku")
)

collectibles = df.select("sku").filter(pl.col("sku").str.starts_with("COL"))

collectibles.n_unique()

shape: (101, 2)
┌─────────┬─────────────────────────────┐
│ sku     ┆ desc                        │
│ ---     ┆ ---                         │
│ str     ┆ str                         │
╞═════════╪═════════════════════════════╡
│ COL0037 ┆ Noah's Jewelry (green)      │
│ COL0041 ┆ Noah's Ark Model (HO Scale) │
│ COL0065 ┆ Noah's Jewelry (mauve)      │
│ COL0166 ┆ Noah's Action Figure (blue) │
│ …       ┆ …                           │
│ TOY8796 ┆ Noah's Blocks               │
│ TOY9457 ┆ Noah's Ball                 │
│ TOY9460 ┆ Noah's Dreidel              │
│ TOY9896 ┆ Jigsaw Puzzle (Noah's Ark)  │
└─────────┴─────────────────────────────┘

85

Ok looks like there are 85 unique collectible items, if we assume that any SKU starting with COL is a collectible.
Nothing has collectible in the _description_, and using Noah/Noah's as a filter doesn't seem useful.

So who has at least 1 order for every collectible?

In [14]:
day8 = (
    df.select("name", "phone", "sku")
    .join(collectibles, on="sku")
    .group_by("name", "phone")
    .agg(pl.col("sku").n_unique().alias("collectibles_ordered"))
)

print(day8.top_k(5, by="collectibles_ordered"))

shape: (5, 3)
┌──────────────────────┬──────────────┬──────────────────────┐
│ name                 ┆ phone        ┆ collectibles_ordered │
│ ---                  ┆ ---          ┆ ---                  │
│ str                  ┆ str          ┆ u32                  │
╞══════════════════════╪══════════════╪══════════════════════╡
│ James Smith          ┆ 212-547-3518 ┆ 85                   │
│ Brandon Castillo     ┆ 914-618-0663 ┆ 31                   │
│ Stephen Williams Jr. ┆ 914-300-2614 ┆ 30                   │
│ Elizabeth Reyes      ┆ 516-993-9571 ┆ 30                   │
│ Hailey Fisher        ┆ 838-838-1754 ┆ 30                   │
└──────────────────────┴──────────────┴──────────────────────┘