In [1]:
import sqlite3

import polars as pl
import polars.selectors as cs

## Setup

I've decided that for this year I want to commit to using [Polars](https://pola.rs/) in a Jupyter notebook for all the puzzles.
So here I load the SQLite data into a Polars DataFrame that I'll try to reuse across all puzzles.

I cheat a _little_ bit here by starting with a query that I incrementally worked toward [in 2022](https://dev.to/ajkerrigan/series/21177).

In [2]:
con = sqlite3.connect(
    # Without PARSE_DECLTYPES, schema_overrides converting strings
    # to pl.Datetime objects will fail. See also:
    #
    # https://github.com/pola-rs/polars/issues/11912
    "5784-speedrun/noahs.sqlite", detect_types=sqlite3.PARSE_DECLTYPES
)

df = pl.read_database(
    connection=con,
    query="""
        select
          c.*,
          o.orderid,
          o.ordered,
          o.shipped,
          o.total,
          i.qty,
          i.unit_price,
          p.sku,
          p.desc,
          p.wholesale_cost
        from
          customers c
          join orders o on c.customerid = o.customerid
          join orders_items i on o.orderid = i.orderid
          join products p on i.sku = p.sku
    """,
    schema_overrides={
        "ordered": pl.Datetime,
        "shipped": pl.Datetime,
    },
).with_columns(birthdate=pl.col("birthdate").str.strptime(pl.Date))

## Puzzle Solutions

### Day 1

**Useful Facts:**

- Target customer is a private investigator
- Translating that customer's last name to numbers using a phone pad as a key produces the customer's phone number

#### Polars Helper

It would be nice to have a convenient Polars-native way to translate a customer's name to its phone number equivalent.
This seems like a good case for [extending the Polars expression namespace](https://pola-rs.github.io/polars/py-polars/html/reference/api.html#extending-the-api).

In [3]:
@pl.api.register_expr_namespace("phonepad")
class Phonepad:
    def __init__(self, expr: pl.Expr):
        self._expr = expr

    def to_numbers(self):
        return (
            self._expr.str.to_lowercase()
            .str.replace_all(r"[^a-z]", "")
            .str.replace_all(r"[abc]", "2")
            .str.replace_all(r"[def]", "3")
            .str.replace_all(r"[ghi]", "4")
            .str.replace_all(r"[jkl]", "5")
            .str.replace_all(r"[mno]", "6")
            .str.replace_all(r"[pqrs]", "7")
            .str.replace_all(r"[tuv]", "8")
            .str.replace_all(r"[wxyz]", "9")
        )

#### Solution

With a convenience expression namespace/method, we can check to see if a customer's phonified name contains the digits of their phone number.

In [4]:
day1 = df.filter(
    pl.col("name")
    .phonepad.to_numbers()
    .str.contains(pl.col("phone").str.replace_all(r"[^\d]+", ""))
)

day1.select("phone").unique().item()

'767-365-7269'

#### Lazy Alternative

It seems useful to practice using the Polars [LazyFrame API](https://pola-rs.github.io/polars/user-guide/lazy/using/). There's no
`scan_database()` method that I can see, and since we're reusing a single DataFrame across multiple days it seems sensible
to have the whole thing in memory anyway.

_But_... we can call `.lazy()` on it and see what optimizations we get under the covers. In this case the time difference
seems negligible, but it's interesting in any case. Note that the unoptimized [query plan](https://pola-rs.github.io/polars/user-guide/lazy/query-plan/)
has two steps:

1. Select all columns from every row
2. Apply a filter

Where the optimized plan merges those operations into a single step, filtering as part of the selection. Neat!

_I still suspect there's a smarter way to do that janky multi-replacement though..._

In [5]:
day1_lazy = df.lazy().filter(
    pl.col("name")
    .phonepad.to_numbers()
    .str.contains(pl.col("phone").str.replace_all(r"[^\d]+", ""))
)

print("Unoptimized query plan & graph...")
print("\n".join(day1_lazy.explain(optimized=False).split(";")))
day1_lazy.show_graph(optimized=False)

print("\nOptimized query plan...")
print("\n".join(day1_lazy.explain(optimized=True).split(";")))
day1_lazy.show_graph(optimized=True)

day1_lazy.collect().select("phone").unique().item()

Unoptimized query plan & graph...
FILTER col("name").str.lowercase().str.replace([Utf8([^a-z]), Utf8()]).str.replace([Utf8([abc]), Utf8(2)]).str.replace([Utf8([def]), Utf8(3)]).str.replace([Utf8([ghi]), Utf8(4)]).str.replace([Utf8([jkl]), Utf8(5)]).str.replace([Utf8([mno]), Utf8(6)]).str.replace([Utf8([pqrs]), Utf8(7)]).str.replace([Utf8([tuv]), Utf8(8)]).str.replace([Utf8([wxyz]), Utf8(9)]).str.contains([col("phone").str.replace([Utf8([^\d]+), Utf8()])]) FROM
DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "None"

Optimized query plan...
DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "col(\"name\").str.lowercase().str.replace([Utf8([^a-z]), Utf8()]).str.replace([Utf8([abc]), Utf8(2)]).str.replace([Utf8([def]), Utf8(3)]).str.replace([Utf8([ghi]), Utf8(4)]).str.replace([Utf8([jkl]), Utf8(5)]).str.replace([Utf8([mno]), Utf8(6)]).str.replace([Utf8([pqrs]), Utf8(7)]).str.replace([Utf8([tuv]), Utf8(8)]).str.replace([Utf8([wxyz]), Utf8(9)]).str.contains([col(\"phone\").str.replace([Utf8([^\\d]+), Utf8()])])"

'767-365-7269'

### Day 2

**Useful Facts:**

- Target customer had initials JP
- Bought coffee and bagels in 2017

This is doable by chaining together filters against a customer's name, order history and order date.

In [6]:
day2 = (
    df.filter(
        (pl.col("name").str.contains(r"D.*?S"))
        & (pl.col("desc").str.contains(r"(?i)(coffee|bagel)"))
        & (pl.col("ordered").dt.year() == 2017)
    )
    .group_by("phone", "citystatezip")
    .agg(pl.col("orderid").count().alias("ordercount"))
    .top_k(1, by="ordercount")
)

day2.select("phone")

shape: (1, 1)
┌──────────────┐
│ phone        │
│ ---          │
│ str          │
╞══════════════╡
│ 838-351-0370 │
└──────────────┘

### Day 3

**Useful Facts:**

- Target customer lives in last customer's neighborhood
  - Maybe city, maybe zip code
  - Try city/state/zip match first
- Cancer
  - June 21 - July 22
  - Julian values 173 - 203
- Year of the rabbit
  - Birth year mod 12 = 7

In [7]:
neighborhood = day2.select("citystatezip").unique().item()

day3 = df.filter(
    (pl.col("birthdate").dt.ordinal_day().is_between(266, 296))
    & (pl.col("birthdate").dt.year() % 12 == 11)
    & (pl.col("citystatezip") == neighborhood)
)

day3.select(["name", "citystatezip", "phone"]).unique()

shape: (1, 3)
┌─────────────┬──────────────────────────┬──────────────┐
│ name        ┆ citystatezip             ┆ phone        │
│ ---         ┆ ---                      ┆ ---          │
│ str         ┆ str                      ┆ str          │
╞═════════════╪══════════════════════════╪══════════════╡
│ David Perez ┆ Queens Village, NY 11427 ┆ 914-594-5535 │
└─────────────┴──────────────────────────┴──────────────┘

### Day 4

**Useful Facts:**

- Target customer buys pastries early - before 5am
  - Years ago
- Is a woman
- Came by bike - maybe assume close by, same city?

In [8]:
day4 = (
    df.filter(
        (pl.col("sku").str.starts_with("BKY")) & (pl.col("ordered").dt.hour() == 4)
    )
    .group_by(["name", "phone", "citystatezip"])
    .agg(pl.col("orderid").count().alias("ordercount"))
    .top_k(5, by="ordercount")
)

day4.select(["name", "phone", "citystatezip", "ordercount"])

shape: (5, 4)
┌────────────────────┬──────────────┬─────────────────────┬────────────┐
│ name               ┆ phone        ┆ citystatezip        ┆ ordercount │
│ ---                ┆ ---          ┆ ---                 ┆ ---        │
│ str                ┆ str          ┆ str                 ┆ u32        │
╞════════════════════╪══════════════╪═════════════════════╪════════════╡
│ Brittany Harmon    ┆ 716-789-4433 ┆ Brooklyn, NY 11209  ┆ 13         │
│ Lindsey Kline      ┆ 315-866-8885 ┆ Manhattan, NY 10044 ┆ 2          │
│ Timothy Williamson ┆ 315-433-5071 ┆ Manhattan, NY 10030 ┆ 1          │
│ Theresa Watkins    ┆ 315-254-5970 ┆ Bronx, NY 10451     ┆ 1          │
│ Jennifer Smith     ┆ 914-819-6323 ┆ Manhattan, NY 10019 ┆ 1          │
└────────────────────┴──────────────┴─────────────────────┴────────────┘

#### Lazy Alternative

There's a bit more going on here than on day 1, so I'm curious what a LazyFrame's query plan optimizations would look like here.

Again it's worth pointing out that lazy evaluation doesn't seem particularly useful for these challenges, given the size and reusability
of the dataset. It's still neat to see the sorts of plan optimizations Polars does under the covers though.

In [9]:
day4_lazy = (
    df.lazy()
    .filter((pl.col("sku").str.starts_with("BKY")) & (pl.col("ordered").dt.hour() == 4))
    .group_by(["name", "phone"])
    .agg(pl.col("orderid").count().alias("ordercount"))
    .top_k(5, by="ordercount")
)

print("Unoptimized query plan & graph...")
print("\n".join(day4_lazy.explain(optimized=False).split(";")))
day4_lazy.show_graph(optimized=False)

print("Optimized query plan & graph...")
print("\n".join(day4_lazy.explain(optimized=True).split(";")))
day4_lazy.show_graph(optimized=True)

day4_lazy.collect().select(["name", "phone", "ordercount"])

Unoptimized query plan & graph...
SLICE[offset: 0, len: 5]
  SORT BY [col("ordercount")]
    AGGREGATE
    	[col("orderid").count().alias("ordercount")] BY [col("name"), col("phone")] FROM
      FILTER [(col("sku").str.starts_with([Utf8(BKY)])) & ([(col("ordered").dt.hour()) == (4)])] FROM

      DF ["customerid", "name", "address", "citystatezip"]
 PROJECT */18 COLUMNS
 SELECTION: "None"

Optimized query plan & graph...
SORT BY [col("ordercount")]
  AGGREGATE
  	[col("orderid").count().alias("ordercount")] BY [col("name"), col("phone")] FROM
    DF ["customerid", "name", "address", "citystatezip"]
 PROJECT 5/18 COLUMNS
 SELECTION: "[(col(\"sku\").str.starts_with([Utf8(BKY)])) & ([(col(\"ordered\").dt.hour()) == (4)])]"

shape: (5, 3)
┌──────────────────────┬──────────────┬────────────┐
│ name                 ┆ phone        ┆ ordercount │
│ ---                  ┆ ---          ┆ ---        │
│ str                  ┆ str          ┆ u32        │
╞══════════════════════╪══════════════╪════════════╡
│ Brittany Harmon      ┆ 716-789-4433 ┆ 13         │
│ Lindsey Kline        ┆ 315-866-8885 ┆ 2          │
│ Christopher Whitaker ┆ 516-531-0462 ┆ 1          │
│ Chelsea Park         ┆ 516-905-4779 ┆ 1          │
│ Patricia Henderson   ┆ 716-601-7625 ┆ 1          │
└──────────────────────┴──────────────┴────────────┘

### Day 5

- Target customer is from Staten Island
- Has lots of (old) cats

In [10]:
day5 = (
    df.filter(
        # (pl.col("citystatezip").str.starts_with("Brooklyn"))
        # &
        (pl.col("desc").str.contains(r"(?i)senior.*cat"))
    )
    .group_by(["name", "phone"])
    .agg(pl.col("orderid").count().alias("ordercount"))
)

day5.top_k(5, by="ordercount")

shape: (5, 3)
┌─────────────────────┬──────────────┬────────────┐
│ name                ┆ phone        ┆ ordercount │
│ ---                 ┆ ---          ┆ ---        │
│ str                 ┆ str          ┆ u32        │
╞═════════════════════╪══════════════╪════════════╡
│ Theresa Carter      ┆ 347-835-2358 ┆ 23         │
│ Christopher Ramirez ┆ 315-263-9413 ┆ 21         │
│ Justin Hall II      ┆ 585-373-3185 ┆ 17         │
│ Michelle Sanchez    ┆ 315-438-8193 ┆ 15         │
│ Abigail Hunt        ┆ 516-308-8960 ┆ 15         │
└─────────────────────┴──────────────┴────────────┘

### Day 6

- Target customer is a bargain hunter
- Noah's loses money on this customer's purchases

In [11]:
day6 = (
    df.with_columns(
        profit=pl.col("qty") * (pl.col("unit_price") - pl.col("wholesale_cost"))
    )
    .group_by(["customerid", "name", "phone"])
    .agg(pl.col("profit").sum())
)

day6.bottom_k(5, by="profit")

shape: (5, 4)
┌────────────┬────────────────┬──────────────┬─────────┐
│ customerid ┆ name           ┆ phone        ┆ profit  │
│ ---        ┆ ---            ┆ ---          ┆ ---     │
│ i64        ┆ str            ┆ str          ┆ f64     │
╞════════════╪════════════════╪══════════════╪═════════╡
│ 8884       ┆ Deborah Green  ┆ 838-295-7143 ┆ -1646.6 │
│ 9463       ┆ Michael Butler ┆ 516-766-0320 ┆ -0.97   │
│ 10044      ┆ Eric Duncan    ┆ 585-359-2997 ┆ -0.06   │
│ 6189       ┆ Linda Young    ┆ 601-609-0786 ┆ -0.06   │
│ 3511       ┆ Carmen Miller  ┆ 838-386-7383 ┆ -0.05   │
└────────────┴────────────────┴──────────────┴─────────┘

### Day 7

- Target customer bought an item on the same day as the day 6 customer
- Probably close to the same time, differing only by color
  - Just slightly before the day 6 customer
 
**Note:** There are a few commented out sections in here, showing extra bits of logic
that ended up being unnecessary. Maybe they'll be necessary with a different data set...

#### Find orders from the day 6 customer

We'll start by taking a subset of columns from the main DataFrame, and adding
a couple transformed fields that will help narrow down the potential overlap between today's
target customer and the one from day 6.

Then we can create a separate DataFrame holding all orders related to the day 6 customer.

In [12]:
day7 = df.select(
    [
        "customerid",
        "name",
        "phone",
        "sku",
        "ordered",
        pl.col("desc").str.to_lowercase().str.replace_all(r"[^a-z ]", ""),
    ]
).with_columns(
    sku_prefix=pl.col("sku").str.extract(r"([A-Z]+)"),
    ordered_date=pl.col("ordered").dt.date(),
)

day6_customer_orders = day7.filter(
    pl.col("customerid") == day6.bottom_k(1, by="profit").select("customerid").item()
)

#### Get a slice of potential similar orders

We can build a DataFrame where...

- The SKU prefix of another customer's order matches one of the day6 customer's orders
- The two orders were from the same date

And we'll add a few helper columns...

- A list of words that appear in one order description but not the other
- A word count of the difference between the two order descriptions
- The time gap between the two orders

Then we'll use the helper columns to whittle down the possibilities further...

- Only show rows if there was a 2 word symmetric difference between the orders

_Trimmed noise: An earlier attempt fetched an external color list and focused on word differences that mapped to color names. That proved unnecessary._

In [13]:
day7 = (
    day7.join(
        day6_customer_orders, on=["sku_prefix", "ordered_date"], suffix="_day6_customer"
    )
    .with_columns(
        desc_delta=pl.col("desc")
        .str.split(by=" ")
        .list.set_symmetric_difference(pl.col("desc_day6_customer").str.split(by=" ")),
        order_gap=(
            pl.col("ordered").dt.datetime()
            - pl.col("ordered_day6_customer").dt.datetime()
        ),
    )
    .with_columns(
        desc_delta_len=pl.col("desc_delta").list.len(),
    )
    .filter(pl.col("desc_delta_len") == 2)
    .explode(pl.col("desc_delta"))
)

#### The target floats to the top

Since we know the day6 customer bought a similar item just before today's customer, highlight the last order that came before day6 customer's order

In [14]:
print(
    day7.select(
        [
            "name",
            "phone",
            "desc",
            "desc_day6_customer",
            "desc_delta",
            "ordered",
            "ordered_day6_customer",
            "order_gap",
        ]
    )
    .filter(pl.col("order_gap") < 0)
    .top_k(5, by="order_gap")
    .head()
)

shape: (5, 8)
┌────────────┬────────────┬────────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ name       ┆ phone      ┆ desc       ┆ desc_day6 ┆ desc_delt ┆ ordered   ┆ ordered_d ┆ order_gap │
│ ---        ┆ ---        ┆ ---        ┆ _customer ┆ a         ┆ ---       ┆ ay6_custo ┆ ---       │
│ str        ┆ str        ┆ str        ┆ ---       ┆ ---       ┆ datetime[ ┆ mer       ┆ duration[ │
│            ┆            ┆            ┆ str       ┆ str       ┆ μs]       ┆ ---       ┆ μs]       │
│            ┆            ┆            ┆           ┆           ┆           ┆ datetime[ ┆           │
│            ┆            ┆            ┆           ┆           ┆           ┆ μs]       ┆           │
╞════════════╪════════════╪════════════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Jeremy     ┆ 516-544-41 ┆ mini       ┆ mini      ┆ blue      ┆ 2019-01-2 ┆ 2019-01-2 ┆ -11s      │
│ Burch      ┆ 87         ┆ machine    ┆ machine   ┆           ┆ 5         ┆ 5         ┆           │
│            ┆            ┆ magenta    ┆ blue      ┆           ┆ 12:01:30  ┆ 12:01:41  ┆           │
│ Jeremy     ┆ 516-544-41 ┆ mini       ┆ mini      ┆ magenta   ┆ 2019-01-2 ┆ 2019-01-2 ┆ -11s      │
│ Burch      ┆ 87         ┆ machine    ┆ machine   ┆           ┆ 5         ┆ 5         ┆           │
│            ┆            ┆ magenta    ┆ blue      ┆           ┆ 12:01:30  ┆ 12:01:41  ┆           │
│ Ashley     ┆ 516-631-82 ┆ power toy  ┆ lego toy  ┆ lego      ┆ 2021-07-2 ┆ 2021-07-2 ┆ -6m -51s  │
│ Rivers     ┆ 17         ┆ soldier    ┆ soldier   ┆           ┆ 1         ┆ 1         ┆           │
│            ┆            ┆            ┆           ┆           ┆ 09:50:44  ┆ 09:57:35  ┆           │
│ Ashley     ┆ 516-631-82 ┆ power toy  ┆ lego toy  ┆ power     ┆ 2021-07-2 ┆ 2021-07-2 ┆ -6m -51s  │
│ Rivers     ┆ 17         ┆ soldier    ┆ soldier   ┆           ┆ 1         ┆ 1         ┆           │
│            ┆            ┆            ┆           ┆           ┆ 09:50:44  ┆ 09:57:35  ┆           │
│ Timothy    ┆ 516-446-93 ┆ super doll ┆ lego doll ┆ lego      ┆ 2019-01-3 ┆ 2019-01-3 ┆ -11m -21s │
│ Crawford   ┆ 31         ┆            ┆           ┆           ┆ 1         ┆ 1         ┆           │
│ Jr.        ┆            ┆            ┆           ┆           ┆ 11:22:48  ┆ 11:34:09  ┆           │
└────────────┴────────────┴────────────┴───────────┴───────────┴───────────┴───────────┴───────────┘

### Day 8

- Target customer collects junk
- Has a full set of Noah's collectibles

In [15]:
print(
    df.select("sku", "desc")
    .filter(pl.col("desc").str.contains(r"(?i)(noah|collectible)"))
    .unique()
    .sort(by="sku")
)

collectibles = df.select("sku").filter(pl.col("sku").str.starts_with("COL"))

collectibles.n_unique()

shape: (101, 2)
┌─────────┬──────────────────────────────┐
│ sku     ┆ desc                         │
│ ---     ┆ ---                          │
│ str     ┆ str                          │
╞═════════╪══════════════════════════════╡
│ COL0030 ┆ Noah's Action Figure (azure) │
│ COL0061 ┆ Noah's Jewelry (yellow)      │
│ COL0325 ┆ Noah's Bobblehead (amber)    │
│ COL0510 ┆ Noah's Poster (amber)        │
│ …       ┆ …                            │
│ TOY8520 ┆ Noah's Toy Soldier           │
│ TOY8810 ┆ Noah's Silly Bandz           │
│ TOY9885 ┆ Noah's Board Game            │
│ TOY9997 ┆ Noah's Ball                  │
└─────────┴──────────────────────────────┘

85

Ok looks like there are 85 unique collectible items, if we assume that any SKU starting with COL is a collectible.
Nothing has collectible in the _description_, and using Noah/Noah's as a filter doesn't seem useful.

So who has at least 1 order for every collectible?

In [16]:
day8 = (
    df.select("name", "phone", "sku")
    .join(collectibles, on="sku")
    .group_by("name", "phone")
    .agg(pl.col("sku").n_unique().alias("collectibles_ordered"))
)

print(day8.top_k(5, by="collectibles_ordered"))

shape: (5, 3)
┌────────────────┬──────────────┬──────────────────────┐
│ name           ┆ phone        ┆ collectibles_ordered │
│ ---            ┆ ---          ┆ ---                  │
│ str            ┆ str          ┆ u32                  │
╞════════════════╪══════════════╪══════════════════════╡
│ Daniel Wilson  ┆ 516-638-9966 ┆ 85                   │
│ John Krause    ┆ 585-227-3128 ┆ 31                   │
│ John Camacho   ┆ 516-936-1871 ┆ 29                   │
│ Justin Hall II ┆ 585-373-3185 ┆ 29                   │
│ Abigail Hunt   ┆ 516-308-8960 ┆ 28                   │
└────────────────┴──────────────┴──────────────────────┘