In [1]:
import polars as pl
import polars.selectors as cs
import sqlite3

## Setup

I've decided that for this year I want to commit to using [Polars](https://pola.rs/) in a Jupyter notebook for all the puzzles.
So here I load the SQLite data into a Polars DataFrame that I'll try to reuse across all puzzles.

I cheat a _little_ bit here by starting with a query that I incrementally worked toward [in 2022](https://dev.to/ajkerrigan/series/21177).

In [2]:
con = sqlite3.connect('5784/noahs.sqlite')
df = pl.read_database(
    connection=con,
    query='''
        select
          c.*,
          o.orderid,
          o.ordered,
          o.shipped,
          o.total,
          i.qty,
          i.unit_price,
          p.sku,
          p.desc,
          p.wholesale_cost
        from
          customers c
          join orders o on c.customerid = o.customerid
          join orders_items i on o.orderid = i.orderid
          join products p on i.sku = p.sku
  ''',
)

## Puzzle Solutions

### Puzzle 1

**Useful Facts:**

- Target customer is a private investigator
- Translating that customer's last name to numbers using a phone pad as a key produces the customer's phone number

#### Polars Helper

It would be nice to have a convenient Polars-native way to translate a customer's name to its phone number equivalent.
This seems like a good case for [extending the Polars expression namespace](https://pola-rs.github.io/polars/py-polars/html/reference/api.html#extending-the-api).

In [3]:
@pl.api.register_expr_namespace("phonepad")
class Phonepad:
   
    def __init__(self, expr: pl.Expr):
        self._expr = expr
        
    def to_numbers(self):
        return             (
                self._expr.str.to_lowercase()
                .str.replace_all(r"[^a-z]", "")
                .str.replace_all(r"[abc]", "2")
                .str.replace_all(r"[def]", "3")
                .str.replace_all(r"[ghi]", "4")
                .str.replace_all(r"[jkl]", "5")
                .str.replace_all(r"[mno]", "6")
                .str.replace_all(r"[pqrs]", "7")
                .str.replace_all(r"[tuv]", "8")
                .str.replace_all(r"[wxyz]", "9")
            )

#### Solution

With a convenience expression namespace/method, we can check to see if a customer's phonified name contains the digits of their phone number.

In [4]:
day1 = df.filter(
    pl.col("name").phonepad.to_numbers().str.contains(
        pl.col("phone").str.replace_all(r"[^\d]+", "")
    )
)

day1.select("phone").unique().item()

'826-636-2286'

### Puzzle 2

**Useful Facts:**

- Target customer had initials JP
- Bought coffee and bagels in 2017

This is doable by chaining together filters against a customer's name, order history and order date.

In [5]:
day2 = df.filter(
    (pl.col("name").str.contains(r'J.*P'))
    & (pl.col("desc").str.contains(r'(?i)(coffee|bagel)'))
    & (pl.col("ordered").str.strptime(pl.Datetime).dt.year() == 2017)
)

day2.select("phone").unique().item()

'332-274-4185'

### Puzzle 3

**Useful Facts:**

- Target customer lives in last customer's neighborhood
  - Maybe city, maybe zip code
  - Try city/state/zip match first
- Cancer
  - June 21 - July 22
  - Julian values 173 - 203
- Year of the rabbit
  - Birth year mod 12 = 7

In [6]:
neighborhood = day2.select("citystatezip").unique().item()

day3 = df.filter(
    (pl.col("birthdate").str.strptime(pl.Datetime).dt.ordinal_day().is_between(173, 203))
    & (pl.col("birthdate").str.strptime(pl.Datetime).dt.year() % 12 == 7)
    & (pl.col("citystatezip") == neighborhood)
)

day3.select(["name", "citystatezip", "phone"]).unique()

shape: (1, 3)
┌───────────────┬───────────────────┬──────────────┐
│ name          ┆ citystatezip      ┆ phone        │
│ ---           ┆ ---               ┆ ---          │
│ str           ┆ str               ┆ str          │
╞═══════════════╪═══════════════════╪══════════════╡
│ Robert Morton ┆ Jamaica, NY 11435 ┆ 917-288-9635 │
└───────────────┴───────────────────┴──────────────┘

#### Puzzle 4

**Useful Facts:**

- Target customer buys pastries early - before 5am
  - Years ago
- Is a woman
- Came by bike - maybe assume close by, same city?

In [7]:
day4 = df.filter(
    (pl.col("sku").str.starts_with("BKY"))
    & (pl.col("ordered").str.strptime(pl.Datetime).dt.hour() == 4)
).group_by(["name", "phone"]).agg(
    pl.col("orderid").count().alias("ordercount")
).top_k(5, by="ordercount")

day4.select(["name", "phone", "ordercount"])

shape: (5, 3)
┌────────────────────┬──────────────┬────────────┐
│ name               ┆ phone        ┆ ordercount │
│ ---                ┆ ---          ┆ ---        │
│ str                ┆ str          ┆ u32        │
╞════════════════════╪══════════════╪════════════╡
│ Renee Harmon       ┆ 607-231-3605 ┆ 5          │
│ James Eaton        ┆ 838-958-4372 ┆ 3          │
│ Christopher Garcia ┆ 716-263-0817 ┆ 2          │
│ Lindsey Mays       ┆ 631-280-4337 ┆ 2          │
│ Mark Huber         ┆ 516-870-0290 ┆ 1          │
└────────────────────┴──────────────┴────────────┘

### Puzzle 5

- Target customer is from Staten Island
- Has lots of (old) cats

In [10]:
day5 = df.filter(
    (pl.col("citystatezip").str.starts_with("Staten Island"))
    & (pl.col("desc").str.contains(r"(?i)senior.*cat"))
).group_by(["name", "phone"]).agg(
    pl.col("orderid").count().alias("ordercount")
)

day5.top_k(5, by="ordercount")

shape: (5, 3)
┌──────────────────┬──────────────┬────────────┐
│ name             ┆ phone        ┆ ordercount │
│ ---              ┆ ---          ┆ ---        │
│ str              ┆ str          ┆ u32        │
╞══════════════════╪══════════════╪════════════╡
│ Nicole Wilson    ┆ 631-507-6048 ┆ 21         │
│ Dawn Shelton     ┆ 680-260-3507 ┆ 6          │
│ Brian Hudson III ┆ 516-570-4577 ┆ 6          │
│ Kayla Solis      ┆ 929-877-1866 ┆ 6          │
│ Sean Wade Jr.    ┆ 347-916-9069 ┆ 5          │
└──────────────────┴──────────────┴────────────┘